<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>

    <main>
        <div class="dashboard">
            <%- include('partials/aside') %>

                <div class="column expenseColumn">

                    <section class="expense-form">
                        <section class="expenseFormSection">
                            <form action="/addExpense" method="POST" enctype="application/x-www-form-urlencoded">
                                <h2>Add Expense</h2>

                                <div>

                                    <div>
                                        <input type="text" name="description" id="description" placeholder="Description"
                                            required>
                                        <br>
                                        <% if (errors.description) { %><small>
                                                <%= errors.description[0] %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <div>
                                        <select id="category" name="category" required>

                                            <option value="" disabled selected>Select your opinion</option>
                                            <% categories.forEach(category=> { %>
                                                <option value="<%= category %>">
                                                    <%= category %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <% if(errors ) { %>
                                            <p style="color: red">
                                                <%= errors.category %>
                                            </p>
                                            <% } %>
                                    </div>

                                    <div>
                                        <input type="number" name="amount" id="amount" placeholder="Amount" required>
                                        <br>
                                        <% if (errors.amount) { %><small>
                                                <%= errors.amount[0] %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div>
                                        <input type="date" name="date" id="date" required>
                                        <br>
                                        <% if (errors.date) { %><small>
                                                <%= errors.date[0] %>
                                            </small>
                                            <% } %>

                                    </div>



                                </div>
                                <button type="submit" class="submitBtn">Add</button><br>

                            </form>
                            <!-- <div class="link">
                                <a href="/dashboard">Go back to dashboard</a>
                            </div> -->
                        </section>

                    </section>

                    <section class="history-container">
                        <h1>Recent Expenses</h1>
                        <% if (transactions.length===0) { %>
                            <p>No transactions found.</p>
                            <% } else { %>

                                <% transactions.forEach(transaction=> { %>
                                    <div class="history-list">
                                        <h3 contenteditable="true"
                                            onkeydown="handleEnter(event, '<%= transaction.id %>', 'description',this)">
                                            <%= transaction.description %>
                                        </h3>
                                        <div class="date-amount-container">
                                            <div class="date-amount">
                                                <p>
                                                    &#8358
                                                    <span contenteditable="true"
                                                        onkeydown="handleEnter(event, '<%= transaction.id %>', 'amount',this)">
                                                        <%= transaction.amount %>
                                                    </span>
                                                </p>
                                                <p>
                                                    <i class="fa-regular fa-calendar-days"></i>
                                                    <span contenteditable="true"
                                                        onkeydown="handleEnter(event, '<%= transaction.id %>', 'expense_date', this)">
                                                        <%= new
                                                            Date(transaction.expense_date).toISOString().split('T')[0]
                                                            %>
                                                    </span>
                                                </p>

                                                <p>
                                                    <i class="fa-solid fa-message"></i>
                                                    <%= transaction.category %>
                                                </p>
                                            </div>
                                            <div class="trash" onclick="deleteExpense('<%= transaction.id %>')">
                                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                                        <% } %>

                    </section>

                </div>

        </div>
    </main>

    <script src="/scripts/edits.js"></script>

</body>

</html>