<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <section class="reg-section">
        <h1>DexTrack</h1>

        <section class="formSection">
            <form action="/addExpense" method="POST" enctype="application/x-www-form-urlencoded">
                <h2>Add Expense</h2>

                <div>
                 
                    <div>
                        <input type="text" name="description" id="description" placeholder="Description" required>
                        <br>
                        <% if (errors.description) { %><small>
                                <%= errors.description[0] %>
                            </small>
                            <% } %>
                    </div>

                    <div>
                        <select id="category" name="category" required>

                            <option value="" disabled selected>Select your opinion</option>
                            <% categories.forEach(category=> { %>
                                <option value="<%= category %>">
                                    <%= category %>
                                </option>
                                <% }) %>
                        </select>
                        <% if(errors ) { %>
                            <p style="color: red">
                                <%= errors.category %>
                            </p>
                            <% } %>
                    </div>

                    <div>
                        <input type="number" name="amount" id="amount" placeholder="Amount" required>
                        <br>
                        <% if (errors.amount) { %><small>
                                <%= errors.amount[0] %>
                            </small>
                            <% } %>
                    </div>
                    <div>
                        <input type="date" name="date" id="date" required>
                        <br>
                        <% if (errors.date) { %><small>
                                <%= errors.date[0] %>
                            </small>
                            <% } %>

                    </div>



                </div>
                <button type="submit" class="submitBtn">Add</button><br>

            </form>
            <div class="link">
                <a href="http://localhost:3000/dashboard">Go back to dashboard</a>
            </div>
        </section>

    </section>
</body>

</html>