<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DexTrack Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>

    <main>
        <div class="dashboard">

            <%- include('partials/aside') %>


                <!-- Column 2 -->
                <div class="column">
                    <div class="dashboard-header">
                        <h2>All Transactions</h2>
                        <nav>
                            <ul class="dashboard-header-list-div">
                                <li class="dashboard-header-list">Today</li>
                                <li class="dashboard-header-list">This Month</li>
                                <li class="dashboard-header-list">Jan 01,2025- Jan 31,2025</li>
                            </ul>
                        </nav>
                    </div>

                    <hr>

                    <div class="dashboard-section-1">
                        <div class="sum-counts">
                            <h5>Total Expenses</h5>
                            <h3>
                                <span>&#8358 <%= totalAmount %></span>
                                <i class="fa-solid fa-money-bill"> </i>
                            </h3>
                        </div>

                        <div class="sum-counts">
                            <h5>Total Budget</h5>
                            <h3>
                                <span>&#8358 <%= totalBudget %></span>
                                <i class="fa-solid fa-money-bill"> </i>
                            </h3>
                        </div>

                        <div class="sum-counts">
                            <h5>Total Balance</h5>
                            <h3>
                                <span>&#8358 <%= totalBalance %></span>
                                <i class="fa-solid fa-money-bill"> </i>
                            </h3>
                        </div>
                    </div>

                    <div class="chart-container">
                        <div class="chart-item">
                            <canvas id="lineChart" width="800" height="400"></canvas>
                        </div>
                        <div class="chart-item">
                            <canvas id="categoryExpensesChart" width="400" height="400"></canvas>
                        </div>
                        <div class="chart-item third-row">
                            <canvas id="myChart" width="450" height="200"></canvas>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <input type="hidden" id="expensesData" value='<%- JSON.stringify(expenses) %>' />
    <input type="hidden" id="categoriesData" value='<%- JSON.stringify(categories) %>'>
    <input type="hidden" id="categoryExpenseAmountData" value='<%- JSON.stringify(categoryExpenseAmount) %>'>
    <input type="hidden" id="categoryAmount" value='<%- JSON.stringify(categoryExpenseAmount) %>'>
    <input type="hidden" id="allocatedBudgetsData" value='<%- JSON.stringify(allocatedBudgets) %>'>



    <script src="/scripts/chart.js"></script>
    <script src="/scripts/barChart.js"></script>
</body>

</html>